$tilt-enabled: false !default;

$dark: false !default;

$font-stack: "Roboto";

$color-red: #fc5c65;
$color-orange: #fd9644;
$color-yellow: #ffd361;
$color-blue: #4285f4;
$color-green: #3cda8b;
$color-purple: #7357FF;
$color-grey: rgb(165, 165, 177);

$color-dark-red: #e94d55;
$color-dark-blue: #4398e3;

$roundness-lg: 15px;
$roundness-md: 7px;
$roundness-sm: 5px;

$color-list: (
	red: $color-red,
	orange: $color-orange,
	yellow: $color-yellow,
	green: $color-green,
	blue: $color-blue,
	purple: $color-purple,
	grey: $color-grey
);

/* For hamburger icons */
$hamburger-padding-x: 6px;
$hamburger-padding-y: 6px;
$hamburger-types: (elastic);
$hamburger-layer-width: 30px;
$hamburger-layer-height: 3px;
$hamburger-hover-opacity: 1;
$hamburger-layer-color: white !default;
$hamburger-active-layer-color: $color-blue !default;
$enable-grid-classes: false;
