@font-face {
	font-family: 'SansSerifFLF';
	font-weight: 200;
	src: url('../fonts/sansserifflf.otf') format('opentype');
}

@font-face {
	font-family: 'SansSerifFLF';
	font-weight: 700;
	src: url('../fonts/sansserifbldflf.otf') format('opentype');
}

@font-face {
	font-family: 'SansSerifFLF';
	font-weight: normal;
	src: url('../fonts/sansserifflf-demibold.otf') format('opentype');
}

@font-face {
	font-family: 'Metropolis';
	src: url('../fonts/Metropolis-Regular.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,300');
