@import "fonts";
@import "reset";
@import "animations";
@import "variables";
@import "hamburgers/hamburgers";


.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

@at-root {
	@-ms-viewport {
		width: device-width;
	}
}


*,
*::before,
*::after {
	box-sizing: inherit;
}


input,
select,
textarea,
button {
	font-family: inherit;
}

button:focus,
textarea:focus,
input:focus {
	outline: none;
}


/*div,
h3,
p,
header,
footer,
body,
input,
img,
section,
span
{
	transition: background-color .7s, color .7s;
}

*/


// ///////////////Cheat sheet ////////////////////////////
/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
	
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
	
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
	
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	
} */
