@import "reset";
@import "base";
@import "fonts";
@import "animations";

@import "./hamburgers/hamburgers.scss";

.blue-background {
	background: $color-blue;
	* {
		color: white;
	}
}

.header {
	margin: 30px 0 40px 0;
}

.header-2 {
	margin: 50px 0 20px 0; 
	display: flex;
	flex-direction: row;
	div {
		height: 50px;
		width: 50px;
		color: white;
		background: $color-blue;
		box-shadow: 5px 5px 20px 0px rgba(66, 179, 255, 0.3);
		border-radius: $roundness-sm;

		svg{
			margin: 15px;
		}
	}

	h2 {
		color: #000000;
		margin: 0 0 0 30px;
		line-height: 50px;
		font-weight: 600;
	}
}

#account-header{
	margin-bottom: 50px;
}

.error {
	.alert {
		line-height: 40px;
		height: 40px;
	}
}

.alert {
	background: $color-yellow;
	width: 100%;
	line-height: 0px;
	height: 0px;
	color: white;
	text-align: center;
	transition: 0.2s;
}

.spinner {
	width: 60px;
	height: 60px;
	background-color: $color-blue;
	margin: 100px auto;
	margin: 40vh auto;
	border-radius: $roundness-md;
	transform-style: preserve-3d;
	will-change: transform;
	transform: perspective(1000);
	animation: spinner 2s infinite ease-in-out 0.3s;
	img {
		margin: 5px;
		width: 50px;
		height: 50px;
		position: absolute;
		backface-visibility: visible;
		&:nth-child(1) {
			transform: translateZ(10px);
		}
		&:nth-child(2) {
			transform: translateZ(-10px) scaleX(-1);
		}
	}
}

#app {
	position: relative;
	min-height: 100vh;
}
.page {
	padding-top: 40px;
	height: 100%;
	transition: 0.1s;
}

.ticket {
	width: 100%;
	top: 60px;
	z-index: 200;
	transform-style: preserve-3d;
	transform: perspective(1000);
	height: 800px;
	@media (min-width: 768px) {
		height: 500px;
	}
	@media (min-width: 992px) {
		height: 600px;
	}
	.line {
		position: absolute;
		border-bottom: 2px dashed rgb(228, 228, 228);
		left: 25px;
		height: 70%;
		width: calc(100% - 50px);
		@media (min-width: 768px) {
			top: 25px;
			left: 0;
			width: 70%;
			height: calc(100% - 50px);
			border-bottom: none;
			border-right: 2px dashed rgb(228, 228, 228);
		}
	}
	.ig {
		position: absolute;
		filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.1));
		width: 100%;
		height: 100%;
	}
	div {
		transform-style: preserve-3d;
	}
	.grid {
		width: 100%;
		height: 100%;
		z-index: 300;
		display: grid;
		grid-template-columns: 70% 30%;
		grid-template-rows: 100px 1fr 200px;
		grid-template-areas:
			"title none"
			"image content"
			"image buttons";
		transform-style: preserve-3d;
		.title {
			grid-area: title;
			display: flex;
			justify-content: center;
			box-align: center;
			align-items: center;
		}
		.buttons {
			grid-area: buttons;
			padding: 20px 30px;
			display: flex;
			flex-direction: column-reverse;
			a {
				transform: translateZ(20px);
				background: $color-green;
				color: white;
				line-height: 30px;
				text-align: center;
				display: flex;
				justify-content: center;
				padding: 10px;
				border-radius: 10px;
				transition: 0.2s;
				margin: 0 0 10px 0;
				img {
					height: 30px;
					padding: 2px;
				}
			}
			a:hover {
				transform: translateZ(30px);
			}
			a:active {
				transform: translateZ(0);
			}
		}
	}
}

.res {
	display: block;
	@media (min-width: 768px) {
		display: none;
	}
}
// ///////////////Cheat sheet ////////////////////////////
/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
	
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
	
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
	
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	
} */
