
.parent {
    display: flex;
    align-items: center;
    justify-content: center;

    section {
        svg {
            width: 400px;
        }
        
        h3 {
            font-weight: 600;
        }

        h3, p {
            
            padding-top: 20px;
            text-align: center;
            color: var(--secondary-text-color);
            width: 400px;
        }
    }
}

path,
rect {
	transition: 0.7s;
}
.a0131bdd-d402-4ec0-9361-493e38dd2723,
.b46a76a9-6acd-4bcc-8bf1-19231b9de7a9 {
	fill: var(--primary-color);
}

.e9e26ee0-2abe-49a4-90da-3629e7cce767 {
	fill: var(--background);
}

.a4186e95-ac30-4b42-a225-bdb9958f72f9,
.b46a76a9-6acd-4bcc-8bf1-19231b9de7a9,
.e9e26ee0-2abe-49a4-90da-3629e7cce767 {
	stroke: var(--secondary-color);
	stroke-width: 2px;
}

.a4186e95-ac30-4b42-a225-bdb9958f72f9,
.b46a76a9-6acd-4bcc-8bf1-19231b9de7a9,
.b5557b4f-e0b7-4ad6-bc74-ba32f43ac439,
.e9e26ee0-2abe-49a4-90da-3629e7cce767 {
	stroke-miterlimit: 10;
}

.a4186e95-ac30-4b42-a225-bdb9958f72f9,
.b5557b4f-e0b7-4ad6-bc74-ba32f43ac439 {
	fill: none;
}

.a4186e95-ac30-4b42-a225-bdb9958f72f9 {
	stroke-linecap: round;
}

.f1b3fdae-47fc-4a9c-b79e-2dd5850cce9d {
	fill: var(--secondary-color);
}

.b5557b4f-e0b7-4ad6-bc74-ba32f43ac439 {
	stroke: var(--primary-color);
	stroke-width: 3px;
}
