@import "../../../assets/scss/variables";


/*Fade*/

.fade-enter {
	opacity: 0;
}

.fade-enter-done {
	opacity: 1;
	display: initial;
}

.fade-enter-active {
	opacity: 1;
    transition: all .2s linear;
}

.fade-exit {
	opacity: 1;
}

.fade-exit-done {
	opacity: 0;
	display: none;
}

.fade-exit-active {
	opacity: 0;
    transition: all .2s linear;
}

/*Roll*/



.avatar {

	

	.overlay {
		position: fixed;
		z-index: 999;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		cursor: pointer;
		background: rgba($color: #000, $alpha: 0.2);
	}
}
