@import "../../assets/scss/variables";

.color-picker {
	display: inline-block;
	margin: 0 7px;
	
	label {
		display: block;
		width: 25px;
		height: 25px;
		cursor: pointer;
		background: black;
		border-radius: 3px;
	}
	
	input[type="radio"] {
		margin: 0;
		padding: 0;
		display: none;
		width: 0;
		height: 0;

		&:checked + label {
			transition: border .1s ease-out;
			&:after {
				content: "";
				position: absolute;
				background: transparent;
				border-radius:6px;
				
				top: -5px;
				left: -5px;
				right: -5px;
				bottom: -5px;
				
				border: 3px solid rgba($color: $color-blue, $alpha: 1.0);
			}
		}
	}
}
