@import "../../assets/scss/variables";
@import "../../assets/scss/custom-bootstrap";
@import "../../assets/scss/mixins";

.hero-card-container {
	@include make-col-ready;
	@include make-col(12);
	@include media-breakpoint-up(lg) {
		@include make-col(6);
	}
	padding: 20px;
	display: flex;
}

.hero-card {
	@include card-base;
	@include tilt-base;

	transition: 0.3s;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 50px auto 150px auto;
	grid-template-areas:
		"tags"
		"image"
		"content"
		"button";
	@media (min-width: 576px) {
		grid-template-columns: 50% 50%;
		grid-template-rows: 80px 1fr auto;
		grid-template-areas:
			"tags image"
			"content image"
			"button image";
	}

	&:hover {
		transform: scale(1.01);
	}

	.tags {
		grid-area: tags;
		padding: 30px 30px 20px 30px;
	}

	.content {
		grid-area: content;
		padding: 0 30px;
		text-align: justify;
		//transform: translateZ(50px);
		h3 {
			font-weight: bold;
		}
		p {
			margin-top: 30px;
			font-family: "Open Sans", sans-serif;
			color: rgb(166, 166, 180);
		}
	}

	.button {
		grid-area: button;
		padding: 20px 30px 30px;
		align-self: flex-end;
		//transform-style: preserve-3d;
		a {
			//transform: translateZ(50px);
			display: inline-block;
			padding: 10px 30px;
			width: 100%;
			text-align: center;
			color: white;
			background: $color-blue;
			box-shadow: 0px 10px 20px 0px rgba(66, 179, 255, 0.3);
			border-radius: $roundness-sm;
			transition: 0.1s linear;
			outline: 1px solid transparent;
			@media (min-width: 576px) {
				width: unset;
			}
		}
		a:hover {
			//transform: translateZ(60px);
			transform: scale(1.03);
			background: rgba($color: $color-blue, $alpha: 0.9);
			box-shadow: 0px 10px 30px 0px rgba(66, 179, 255, 0.3);
		}
		a:active {
			//transform: translateZ(0px);
			transform: scale(1);
			box-shadow: none;
		}
	}

	.image {
		grid-area: image;
		padding: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translateZ(70px);
		@media (min-width: 992px) {
			padding: 20px 20px 20px 0px;
		}
		img {
			max-width: 70%; // height: auto;
			outline: 1px solid transparent;
			@media (min-width: 576px) {
				max-width: 100%;
			}
		}
	}
}

.product-card-container {
	@include make-col-ready;
	@include make-col(12);
	@include media-breakpoint-up(sm) {
		@include make-col(6);
	}
	@include media-breakpoint-up(md) {
		@include make-col(4);
	}
	@include media-breakpoint-up(lg) {
		@include make-col(3);
	}
	padding: 20px;
}

.product-card {
	@include card-base;
	@include tilt-base;

	transition: 0.3s;

	width: 100%;
	display: grid;

	grid-template-rows: 50px 1fr 5px 70px;
	grid-template-areas:
		"title"
		"image"
		"progress"
		"progress-text";

	.title {
		grid-area: title;
		display: flex;
		justify-content: center;
		padding: 20px;
		//transform: translateZ(20px);
		h3 {
			position: absolute;
			font-weight: 600;
			color: black;
		}
	}

	&:hover {
		transform: scale(1.01);
	}

	.image {
		grid-area: image;
		padding: 30px;
		transform: translateZ(40px);
		img {
			max-width: 100%;
		}
	}

	.progress-text {
		grid-area: progress-text;
		margin: 25px 15px 15px 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		p {
			color: rgb(191, 191, 201);
			font-weight: 400;
			font-family: "Roboto";
			line-height: 30px;
		}

		p {
			justify-self: flex-end;
			color: $color-blue;
			font-weight: 600;
		}

		div {
			display: flex;
			&.tag {
				margin: 0;
			}
			img {
				height: 20px;
			}
		}
	}

	.progress-wrapper {
		grid-area: progress;

		.progress {
			margin: 0 15px;
			height: 7px;
			border-radius: 7px;
			font-size: 14px;
			position: relative;
			background: rgb(240, 240, 241);
			transform: translateZ(20px);
			p {
				right: 0;
				position: absolute;
				font-family: "Roboto";
				top: -25px;
				display: inline;
				color: rgb(218, 218, 218);
			}
			div {
				height: 100%;
				border-radius: 5px;
				background: $color-blue;
				box-shadow: 2px 2px 10px 2px rgba(66, 179, 255, 0.3);
			}
		}
	}
}
