@import "../../assets/scss/variables";

.row > div {
	padding: 0;
}

.home {
	padding: 25px;

	.row > div[class^="col"] {
		
		padding: 15px;

		div {
			padding-top: 120%;
			filter: drop-shadow(0 1rem .5rem rgba($color: black, $alpha: .05));
			background: var(--primary-color);
			width: 100%;
			border-radius: 5px;
		}
	}
}
