@import "../../assets/scss/variables";

.navbar {
	padding: 17px;
}

.brand {
	padding: 17px;

	a {
		display: flex;
		height: 100%;

		img {
			height: 38px;
			margin: 0 10px;
		}

		h3 {
			color: var(--primary-text-color);
			font-family: "Pouttu";
			line-height: 38px;
			font-size: 1rem;
			font-weight: 400;
			letter-spacing: 1.5px;
		}
	}
}

.nav-right {
	float: right;
	display: flex;
	position: relative;
}

.search {
	//Search
	.bar {
		position: absolute;
		z-index: 1010;

		width: 280px;
		height: 38px;

		img {
			position: absolute;
			height: 28px;
			width: 28px;
			margin: 5px;
			padding: 7px;
		}

		input[type="text"] {
			position: absolute;
			width: 100%;
			height: 100%;
			background: var(--primary-color);
			color: var(--primary-text-color);
			border: none;
			padding: 3px 3px 3px 45px;
			border-radius: 5px;

			filter: drop-shadow(0 0.5rem 5rem rgba($color: black, $alpha: 0.03));
		}

		/*input[type=text]:focus {
            background: var(--background);
        }*/
	}

	.dropdown {
		position: absolute;
		z-index: 1000;

		width: 280px;
		height: 300px;
		background: var(--primary-color);
		border-radius: 5px;

		margin-top: 50px;
	}
}