@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,600");
@import url("https://fonts.googleapis.com/css?family=Assistant:200,300,400");

@font-face {
	font-family: "SansSerifFLF";
	font-weight: 200;
	src: url("../assets/fonts/sansserifflf.otf") format("opentype");
}

@font-face {
	font-family: "SansSerifFLF";
	font-weight: 700;
	src: url("../assets/fonts/sansserifbldflf.otf") format("opentype");
}

@font-face {
	font-family: "SansSerifFLF";
	font-weight: normal;
	src: url("../assets/fonts/sansserifflf-demibold.otf") format("opentype");
}

@import "reset";

$font-stack: "SansSerifFLF";
$font-stack2: "Assistant", sans-serif;

$font-color: black;

$color-secondary: #22b573;

body {
	font-family: $font-stack;
	
	color: $font-color;
	background-color: #fbfbfb;
}

@for $i from 1 through 10 {
	.space-#{$i*10} {
		height: #{$i * 10}px;
	}
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.navbar {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding-top: 65px;
	z-index: 1000;
	
	a {
		float: left;
		margin: 0 7px;
		color: black;
	}
	
	.menu {
		li {
			display: inline;
		}
	}
	
	/*.brand {
		
		height: 60px;
		float: left;
		margin: 0 2em 0 0;
		
		img {
			height: 100%;
			float: left;
			padding: 0 10px 0 0;
		}
		
		h1 {
			padding: 30px 0 0 0;
			line-height: 30px;
			float: left;
			@media (min-width: 768px) { 
				color: black;
			}
		}
	}*/
	
	/*.menu {
		padding: 30px 0 0 0;
		line-height: 30px;
		float: right;
		mix-blend-mode: difference;
	}*/
}

.main {
	display: block;
	height: 1000px;
	padding-top: 200px;
}

.card-outer {
	position: relative;
	width: 100%;
	padding-top: 150%;
	
}

.card-inner {
	position: absolute;
	margin: 20px 5px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	transform-style: preserve-3d;
	//optimization
	transition: all;
	will-change: transform;
    pointer-events: auto;
	
	.button {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		margin: 15px;
		cursor: pointer;

		color: rgb(161, 161, 161);
		transition: 0.15s linear;


		padding: 20px;
		border-radius: 7px;
		transform: translateZ(20px);
	}

	.button:hover{
		background: rgb(240, 240, 240);

		

		transform: translateZ(40px);
		
	}

	.button:active{
		transform: translateZ(0px);
	}

	.image{
		position: absolute;
		top: 45px;
		padding:30px;
		bottom: 80px;
		transform: translateZ(45px);
		outline: 1px solid transparent;
		
		img{
			max-width: 100%;
			height: auto;
			
		}
	}

	h4{
		position: absolute;
		font-weight: 600;
		top: 0;
		left: 0;
		right: 0;
		padding: 20px;
		transform: translateZ(20px);
	}
}


.hero-card{
	height: 300px;
	background: white;


	border-radius: 10px;
	box-shadow: 10px 10px 60px 5px rgba(0, 0, 0, 0.05);
	transform-style: preserve-3d;
	

	img{
		transform: translateZ(50px);
		height: 100%;
		position: absolute;
		top: -50px;
		left: -50px;
		outline: 1px solid transparent;
	}

	a{
		transform: translateZ(20px);
		position: absolute;
		right: 0;
		bottom: 0;
		color: white;
		background: #428DFF;
		box-shadow: 0px 10px 20px 0px rgba(66, 179, 255, 0.247);
		border-radius: 5px;
		padding: 10px 20px;
		margin: 20px;
		transition: .1s cubic-bezier(0.645, 0.045, 0.355, 1);
		outline: 1px solid transparent;
	}

	h3{
		position: absolute;
		right: 0;
		padding: 20px;
		transform: translateZ(30px);
	}

	p {
		position: absolute;
		transform: translateZ(30px);
		text-align: justify;
		margin-left: 240px;
		margin-top: 60px;
		padding: 20px;
		font-weight: 400;
		color: rgb(75, 75, 75);
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

	}

	a:hover{
		transform: translateZ(40px);
	}

	a:active{
		transform: translateZ(0px);
	}
}

.card {
	background: white;
	border-radius: 10px;
	box-shadow: 10px 10px 60px 5px rgba(0, 0, 0, 0.05);
}

.search{
	height: 50px;
	
	width: 500px;
	
	margin: 0 auto;
	


	input{
		border: none;
		width: 400px;
		height: 100%;
		background: white;
		border-radius: 7px;
		box-shadow: 10px 10px 80px 0px rgba(0, 0, 0, 0.05);
		user-select: none;
	}

	a{
		width: 100px;
		background: #22b573;
		box-shadow: 10px 10px 80px 0px #22b57325;
	}
}




/*

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
	
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
	
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
	
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	
}*/
