@font-face {
	font-family: "SansSerifFLF";
	font-weight: 200;
	src: url("../assets/fonts/sansserifflf.otf") format("opentype");
}

@font-face {
	font-family: "SansSerifFLF";
	font-weight: 700;
	src: url("../assets/fonts/sansserifbldflf.otf") format("opentype");
}

@font-face {
	font-family: "SansSerifFLF";
	font-weight: normal;
	src: url("../assets/fonts/sansserifflf-demibold.otf") format("opentype");
}

@font-face {
	font-family: "Metropolis";
	src: url("../assets/fonts/Metropolis-Regular.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,300");

@import "reset";

$hamburger-padding-x: 6px;
$hamburger-padding-y: 6px;
$hamburger-types: (elastic);

$hamburger-layer-width: 30px;
$hamburger-layer-height: 3px;
$hamburger-hover-opacity: 1;
$hamburger-layer-color: white !default;
$hamburger-active-layer-color:#5ba9ef !default;

@import "./hamburgers/hamburgers.scss";

$font-stack: "SansSerifFLF";
$font-color: rgb(0, 0, 0);

$color-red: #fc5c65;
$color-orange: #fd9644;
$color-yellow: #ffd361;
$color-blue: #5ba9ef;
$color-green: #3cda8b;
$color-purple: #a55eea;

$color-list: (
	red: $color-red,
	orange: $color-orange,
	yelow: $color-yellow,
	green: $color-green,
	blue: $color-blue,
	purple: $color-purple
);

/* fixes the scrollbar jumping issue */
html {
	overflow-y: scroll;
}
/* fix for font family in inputs */
input,
select,
textarea,
button {
	font-family: inherit;
}
/* fix for outline */
button:focus,
textarea:focus,
input:focus {
	outline: none;
}
.blue-background {
	background: $color-blue;
	* {
		color: white;
	}
}
body {
	font-family: $font-stack;
	color: $font-color;
	background: #fbfbfb;
}
@for $i from 1 through 10 {
	.space-#{$i*10} {
		height: #{$i * 10}px;
	}
}
.header {
	margin: 50px 0 0px 0;
}
.error {
	.alert {
		line-height: 40px;
		height: 40px;
	}
	header {
		top: 40px;
	}
}
.alert {
	z-index: -10;
	position: relative;
	background: $color-yellow;
	width: 100%;
	line-height: 0px;
	color: white;
	text-align: center;
	transition: 0.2s;
	height: 0px;
}
@keyframes fadein {
	from {
		transform: translateX(-300px);
	}
	to {
		transform: translateX(0px);
	}
}
#app {
	position: relative;
	min-height: 100vh;
}
.page {
	padding-top: 40px;
	height: 100%;
	transition: 0.1s;
	padding-bottom: 400px;
}
footer {
	background: #f1f1f1;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 200px;
}

header {
	width: 100%;
	background: $color-blue;
	z-index: 1000;
	padding: 15px 0;
	z-index: 10;
	height: 72px;
	transition: 0.3s;
	.box {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		.search {
			display: flex;
			height: auto;
			font-family: "SansSerifFLF";
			transform-style: preserve-3d;
			width: 400px;
			input::-webkit-search-cancel-button {
				position: relative;
				-webkit-appearance: none;
				background: url("./x.svg");

				height: 15px;
				width: 15px;
				border-radius: 10px;
			}
			input:focus{
				transform: scale(1.03);
			}
			input {
				-webkit-appearance: none;
				border: none;
				width: 100%;
				padding: 10px;
				background: transparent;
				font-size: 18px;
				background: #4398e3;
				color: white;
				line-height: 23px;
				border-radius: 10px;
				transition: 0.2s;
				text-align: center;
				&::placeholder {
					color: rgba(255, 255, 255, 0.6);
				}
				@media (max-width: 992px) {
					border-radius: 0px;
				}
			}
			@media (max-width: 992px) {
				position: absolute;
				width: 100%;
				top: 70px;
				left: 0;
				right: 0;
			}
		}
		.brand {
			a {
				display: flex;
				img {
					height: 43px;
					margin: 0 10px;
				}
			}
		}
		a {
			color: white;
			line-height: 43px;
		}
		.hamburger-nav {
			position: relative;
			z-index: 300;
			width: 220px;
			transform: translateZ(110px);
			display: flex;
			justify-content: flex-end;
		}
		.navbar-mobile {
			position: absolute;
			display: block;
			transform: translateZ(100px);
			top: 10px;
			right: 10px;
			left: 10px;
			bottom: 10px;
			border-radius: 10px;
			background: white;
			a {
				margin: 30px;
			}
		}
		.navbar-desktop {
			width: 220px;
			display: none;
			justify-content: flex-end;
		}
	}
}
.auth-form {
	margin: 20px auto 0 auto;
	width: 470px;
	border-radius: 7px;
	background: #f6f6f6;
	padding: 40px;
	transform-style: preserve-3d;
	transform: perspective(1000);
	outline: 1px solid transparent;
	* {
		outline: 1px solid transparent;
	}
	@media (max-width: 576px) {
		position: absolute;
		border-radius: 0;
		right: 0;
		left: 0;
		width: 100%;
	}
	form {
		font-family: "Roboto";
		transform-style: preserve-3d;
		width: 100%;
		display: flex;
		flex-direction: column;
		legend {
			transform: translateZ(20px);
			color: black;
			text-align: center;
			margin: 0 0 45px 0;
			font-size: 35px;
			font-weight: 300;
		}
		input[type="text"],
		input[type="email"],
		input[type="password"] {
			transform: translateZ(40px);
			margin: 20px 0;
			display: block;
			padding: 15px;
			font-size: 18px;
			box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.05);
			box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.05);
			width: 100%;
			border: 2px solid #e0e0e0;
			border: none;
			border-radius: 5px;
			color: black;
		}
		.btn {
			margin: 20px 0;
			transform: translateZ(40px);
			padding: 15px;
			font-size: 18px;
			display: block;
			width: 100%;
			border-radius: 7px;
			border: none;
			transition: 0.2s;
			&.green {
				box-shadow: 0px 10px 20px 0
					rgba($color: $color-green, $alpha: 0.3);
				background: $color-green;
				margin: 60px 0 0 0;
			}
			&.google {
				color: rgb(100, 100, 100);
				background: white;
				box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.07);
				border: none;
				img {
					position: absolute;
					left: 15px;
					width: 18px;
					height: 18px;
					margin: 2px;
				}
			}
		}
		.btn:hover {
			transform: translateZ(30px);
			&.green {
				box-shadow: 0px 10px 40px 0 rgba(21, 205, 114, 0.3);
			}
			&.google {
				box-shadow: 0px 10px 40px 0 rgba(0, 0, 0, 0.05);
			}
		}
		.btn:active {
			transform: translateZ(0px);
			&.green {
				box-shadow: 0px 10px 20px 0 rgba(21, 205, 114, 0);
			}
			&.google {
				box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0);
			}
		}
	}
}
.hero-card {
	height: auto;
	margin: 20px 0;
	background: white;
	border-radius: 15px;
	box-shadow: 10px 10px 60px 5px rgba(0, 0, 0, 0.05);
	transform: perspective(1000px);
	transform-style: preserve-3d;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 50px 60vw 150px 100px;
	grid-template-areas:
		"tags"
		"image"
		"content"
		"button";

	@media (min-width: 576px) {
		height: 380px;
		grid-template-columns: 50% 50%;
		grid-template-rows: 80px 1fr 100px;
		grid-template-areas:
			"tags image"
			"content image"
			"button image";
	}

	.tags {
		grid-area: tags;
		padding: 20px;
		span {
			@each $name, $value in $color-list {
				&.#{"" + $name} {
					color: $value;
					background: rgba($color: $value, $alpha: 0.3);
					box-shadow: 0px
						10px
						20px
						0
						rgba($color: $value, $alpha: 0.1);
				}
			}
			text-transform: capitalize;
			transform: translateZ(50px);
			margin: 0 10px 0 0;
			display: inline-block;
			font-size: 12px;
			padding: 6px 12px;
			border-radius: 7px;
		}
	}
	.content {
		grid-area: content;
		padding: 0 30px;
		h3 {
			transform: translateZ(50px);
			font-weight: bold;
		}
		p {
			transform: translateZ(50px);
			margin-top: 40px;
			font-weight: normal;
			color: rgb(131, 131, 131);
		}
	}
	.button {
		grid-area: button;
		padding: 30px;
		a {
			transform: translateZ(50px);
			display: inline-block;
			padding: 10px 30px;
			width: 100%;
			text-align: center;
			color: white;
			background: $color-blue;
			box-shadow: 0px 10px 20px 0px rgba(66, 179, 255, 0.3);
			border-radius: 10px;
			transition: 0.1s linear;
			outline: 1px solid transparent;
			@media (min-width: 576px) {
				width: unset;
			}
		}
		a:hover {
			transform: translateZ(60px);
			box-shadow: 0px 10px 30px 0px rgba(66, 179, 255, 0.3);
		}
		a:active {
			transform: translateZ(0px);
			box-shadow: 0px 10px 20px 0px rgba(66, 179, 255, 0);
		}
	}
	.image {
		grid-area: image;
		padding: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (min-width: 576px) {
			padding: 20px 20px 20px 0px;
		}
		img {
			transform: translateZ(70px);
			max-width: 70%; // height: auto;
			outline: 1px solid transparent;
			@media (min-width: 576px) {
				max-width: 100%;
			}
		}
	}
}
.ticket {
	width: 100%;
	top: 60px;
	z-index: 200;
	transform-style: preserve-3d;
	transform: perspective(1000);
	height: 800px;

	@media (min-width: 768px) {
		height: 500px;
	}
	@media (min-width: 992px) {
		height: 600px;
	}
	.line {
		position: absolute;
		border-bottom: 2px dashed rgb(228, 228, 228);
		left: 25px;
		height: 70%;
		width: calc(100% - 50px);
		@media (min-width: 768px) {
			top: 25px;
			left: 0;
			width: 70%;
			height: calc(100% - 50px);
			border-bottom: none;
			border-right: 2px dashed rgb(228, 228, 228);
		}
	}
	.ig {
		position: absolute;
		filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.1));
		width: 100%;
		height: 100%;
	}
	div {
		transform-style: preserve-3d;
	}
	.grid {
		width: 100%;
		height: 100%;
		z-index: 300;
		display: grid;
		grid-template-columns: 70% 30%;
		grid-template-rows: 100px 1fr 200px;
		/*@media (min-width: 768px) {
			grid-template-columns: 60% 40%;
			grid-template-rows: 100px 1fr;
		}@at-root*/
		grid-template-areas:
		"title none"
		"image content"
		"image buttons";
		transform-style: preserve-3d;

		.title{
			grid-area: title;
			display: flex;
			justify-content: center;
			box-align: center;
			align-items: center;
		}

		.buttons{
			grid-area: buttons;
			padding: 20px 30px;
			display: flex;
			flex-direction: column-reverse;
			a {
				transform: translateZ(20px);
				background: $color-green;
				color: white;
				line-height: 30px;
				text-align: center;
				display: flex;
				justify-content: center;
				padding: 10px;
				border-radius: 10px;
				transition: 0.2s;
				margin: 0 0 10px 0;

				img{
					height: 30px;
					padding: 2px;
				}
			}

			a:hover {
				transform: translateZ(30px);
			}

			a:active {
				transform: translateZ(0);
			}
		}
	}
	
}
.card-outer {
	position: relative;
	width: 100%;
	padding-top: 160%;
	color: black;
}
.card {
	background: white;
	border-radius: 15px;
	box-shadow: 10px 10px 60px 5px rgba(0, 0, 0, 0.05);
}
.card-inner {
	position: absolute;
	margin: 20px 5px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	transform-style: preserve-3d;
	position: absolute;
	.button {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		margin: 15px;
		color: $color-purple;
		transition: 0.15s linear;
		padding: 20px;
		border-radius: 7px;
		transform: translateZ(20px);
	}
	.button:hover {
		background: rgb(245, 245, 245);
		transform: translateZ(40px);
	}
	.button:active {
		transform: translateZ(0px);
	}
	.image {
		position: absolute;
		top: 45px;
		padding: 30px;
		bottom: 80px;
		transform: translateZ(45px);
		outline: 1px solid transparent;
		img {
			width: 90%;
			height: auto;
		}
	}
	.goal {
		position: absolute;
		left: 0;
		right: 0;
		height: 5px;
		margin: 15px;
		bottom: 70px;
		border-radius: 10px;
		font-size: 14px;
		background: rgba(66, 142, 255, 0.1);
		transform: translateZ(20px);
		div {
			height: 100%;
			border-radius: 5px;
			background: $color-blue;
			box-shadow: 0px 0px 10px 0px rgba(66, 179, 255, 0.3);
		}
	}
	h4 {
		position: absolute;
		font-weight: 600;
		top: 0;
		left: 0;
		right: 0;
		padding: 20px;
		transform: translateZ(20px);
	}
}
/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
	
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
	
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
	
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	
} */
