@import "../../assets/scss/variables";

.navigation {
    padding: 70px 27px
}

.menu > li {
    padding: 15px 0;
    font-weight: 400;
    
    a {
        display: flex;
        color: var(--secondary-text-color);
        justify-content: start;

        img {
            height: 25px;
            width: 25px;
        }
    
        p {
            margin-left: 30px;
            font-weight: 400;
            line-height: 25px;
        }
    }
}