@import "../../assets/scss/variables";

.auth-form {
	margin: 20px auto 0 auto;
	width: 470px;
	border-radius: 7px;
	background: white;
	padding: 40px;
	//transform-style: preserve-3d;
	//transform: perspective(1000);
	//outline: 1px solid transparent;
	/** {
		outline: 1px solid transparent;
	}*/
	@media (max-width: 576px) {
		position: absolute;
		border-radius: 0;
		right: 0;
		left: 0;
		width: 100%;
	}
	form {
		font-family: "Roboto";
		//transform-style: preserve-3d;
		width: 100%;
		display: flex;
		flex-direction: column;
		legend {
			//transform: translateZ(20px);
			color: black;
			text-align: center;
			margin: 0 0 45px 0;
			font-size: 30px;
			font-weight: normal;
		}
		input[type="text"],
		input[type="email"],
		input[type="password"] {
			//transform: translateZ(40px);
			margin: 20px 0;
			display: block;
			padding: 15px;
			font-size: 18px;
			//box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.05);
			//box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.05);
			width: 100%;
			border: 2px solid #e6e7ec;
			border-radius: $roundness-sm;
			color: black;
			&::placeholder {
				color: rgb(150, 150, 150);
			}
		}
		.btn {
			margin: 20px 0;
			//transform: translateZ(40px);
			cursor: pointer;
			padding: 15px;
			font-size: 18px;
			display: block;
			width: 100%;
			border-radius: $roundness-sm;
			border: none;
			transition: 0.2s;
			&.green {
				box-shadow: 0px 10px 20px 0
					rgba($color: $color-green, $alpha: 0.3);
				background: $color-green;
				margin: 60px 0 0 0;
			}
			&.google {
				color: rgb(100, 100, 100);
				background: white;
				//box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.07);
				border: 2px solid #e6e7ec;
				position: relative;
				img {
					position: absolute;
					left: 13px;
					width: 20px;
					height: 20px;
					margin: 2px;
				}
			}
		}
		.btn:hover {
			//transform: translateZ(30px);
			&.green {
				box-shadow: 0px 10px 60px 0 rgba(21, 205, 114, 0.3);
				opacity: 0.9;
				transform: scale(1.02);
			}
			&.google {
				box-shadow: 0px 10px 60px 0 rgba(0, 0, 0, 0.1);

				transform: scale(1.02);
			}
		}
		.btn:active {
			//transform: translateZ(0px);
			&.green {
				box-shadow: 0px 10px 20px 0 rgba(21, 205, 114, 0);
				transform: scale(1);
			}
			&.google {
				box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0);
				transform: scale(1);
			}
		}
	}
}
